* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 180px auto;
    grid-template-rows: 40px auto;
    height: 100%;
}

.topbar {
    grid-column: 1 / -1;
}

.content {
    grid-column: 2 / -1;
}