.topbar {
    display: flex;
    grid-column: 1 / -1;
    justify-content: space-between;
    background-color: lightcoral;
    border-bottom: 1px solid gray;
}

.topbar span {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    height: 100%;
}

.topbar span:hover {
    background-color: lightblue;
    cursor: pointer;
}

.topbar span:active {
    box-shadow: inset 0px 0px 3px gray;
}