.action-topbar {
    display: flex;
    border-bottom: 1px solid gray;
    background-color: antiquewhite;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
}

.action-topbar span, .action-topbar button {
    padding: 0px 10px;
    margin: 10px;
}

.action-topbar button {
    padding: 5px 10px;
    width: 80px;
    margin: 10px;
    border-radius: 3px;
    border: 1px solid gray;
    box-shadow: 0px 0px 2px gray;
    font-size: 16px;
    text-align: center;
}

.action-topbar span {
    margin-right: auto;
}

.action-topbar button:hover {
   background-color: white;
}

.action-topbar button:hover {
    background-color: white;
    cursor: pointer;
 }

.action-topbar button:active {
    box-shadow: inset 0px 0px 4px gray;
}

.collapse {
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.move {
    animation-name: moved;
    animation-duration: 4s;
}

@keyframes moved {
    from { background-color: rgb(204, 171, 127); }
    to { background-color: antiquewhite; }
}

