.action-topbar {
    display: flex;
    border-bottom: 1px solid gray;
    /* COLOR */

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    align-items: center;
}

.action-topbar span, .action-topbar button {
    padding: 0px 10px;
}

.action-topbar button {
    padding: 5px;
    width: 40px;
    margin: 10px;
    border: none;
    background-color: white;
    border-radius: 100px;
    font-size: 16px;
    text-align: center;
}

.action-topbar button i {
    color: rgb(223, 54, 54);
    font-size: 24px;
}

.action-topbar button:focus  {
    outline: none;
}

.action-topbar span {
    font-weight: 650;
    margin-right: auto;
}

.action-topbar button:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

.collapse {
    border-bottom: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.move {
    animation-name: moved;
    animation-duration: 2s;
}

@keyframes moved {
    from { background-color: rgb(228, 171, 171); }
    to { background-color: white; }
}

