.table-container {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    margin: 15px;
    
}


.table-head {
    background-color: green;
    grid-column: 1 / 2;
}

