.sidebar {
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    border-right: 1px solid gray;
}

.sidebar a {
    padding: 5px;
    text-decoration: none;
    padding-left: 20px;
    margin-right: 35px;
}

.sidebar a:hover {
    background-color: lightblue;
    border-radius: 0px 15px 15px 0px;
}

.sidebar a:active {
    box-shadow: inset 0px 0px 2px gray;
}

.sidebar .new-button {
    margin: 10px 60px 5px 8px;
    padding: 5px 10px;
    font-size: x-large;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 0px 0px 3px gray;
    background-color: rgb(233, 233, 233);
}


.sidebar .new-button:hover {
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
}

.new-button:active {
    box-shadow: inset 0px 0px 3px gray;
}
