* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.container {
    display: grid;
    grid-template-columns: 190px auto;
    grid-template-rows: 40px auto;
    height: 100%;
}

.topbar {
    grid-column: 1 / -1;
}

.content {
    background-color: rgb(220, 220, 220);
    /* This is why the page scrolls when it seems like it shouldn't need to,
       but the comment text box overflows the window height without it */
    padding-bottom: 200px;
}
