.inbox-row {
    display: flex;
    padding: 0px 15px;
    border-bottom: 1px solid gray;
    overflow: hidden;
}

.inbox-row:hover {
    background-color: white;
    cursor: pointer;
}

.inbox-row .inbox-item {
    margin: 20px 0px;
    min-width: 0;
}

.inbox-left {
    padding-right: 25px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inbox-middle {
    flex: 1;
    min-width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inbox-right {
    padding-left: 30px;
}