.content {
    display: flex;
    flex-direction: column;
}



.form-container {
    display: grid;
    grid-template-columns:  auto auto auto;
    grid-template-rows: auto 1fr;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

.topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: large;
    border-bottom: 1px solid gray;
    font-weight: 750;
    grid-column: 1 / -1;
    padding: 0px 20px;
}

.topbar-dropdown {
    margin-left: auto;
    border-radius: 20px;
    border: 1px solid gray;
    padding: 0px 15px;
    box-shadow: 0px 0px 1px gray;
}

.topbar-dropdown:hover {
    background-color: white;
}

.topbar-dropdown:active {
    box-shadow: inset 0px 0px 3px gray;
}

.term-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 5px 5px 5px;
}

.term-button button {
    display: flex;
    font-size: large;
    border-radius: 28px;
    padding: 5px 28px;
    border: 1px solid gray;
    align-items: center;
    box-shadow: 0px 0px 1px gray;
}

.term-button button:hover {
    background-color: white;
}

.term-button button:active {
    box-shadow: inset 0px 0px 3px gray;
}

.term-dropdown-content {
    display: none;
    position: absolute;
    margin-top: 68px;
    border: 1px solid gray;
    background-color: white;
}

.term-dropdown-content div {
    padding: 5px 5px;
    display: block;
}

.term-dropdown-content div:hover {
    background-color: lightblue;
}

.term-button button:hover .term-dropdown-content {
    display: block;
}


.form-content-container {
    grid-column: 2 / 3;
}

.info {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    margin: 5px;
    padding: 10px 10px 0px 10px;
    border-radius: 20px;
    background-color: white;
}

.input {
    display: flex;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.input input {
    margin-left: 5px;
    padding-left: 15px;
    flex: 1;
    border: none;
}


.input input:hover {    
    background-color: lightblue;
}

.last {
    border-bottom: none;
}