

.navbar {
    border-bottom: 1px solid gray;
}

.navlinks {
    /* to make each list item appear on single row */
    display: flex;
    /* Fill the full height of the navbar */
    height: 100%;
}

.navlinks li {
    display: flex;
    list-style-type: none;
    padding: 0px 10px;
    /* Vertically align the text of the list items */
    align-items: center;
}

.navlinks li:hover {
    background-color: lightblue;
    cursor: pointer;
}

.navlinks li:active {
    box-shadow: inset 0px 0px 2px gray;
}

.navlinks .profile {
    /* Push the profile button to the far right of navbar */
    margin-left: auto;
}
