
/* CSS properties for entire page layout - Main grid management */

* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
    background-color: white;
}

a {
    text-decoration: none;
}

.alt-color {
    background-color: rgb(233, 233, 233);
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 180px auto;
    grid-template-rows: 40px auto;
}

.navbar {
    grid-column: 1 / -1;
}

.content {
    grid-column: 2 / -1;
}
