* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

body, html {
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(218, 218, 218);
    border-bottom: 2px solid rgb(109, 109, 109);
    /* box-shadow: 0px 0px 10px gray; */
    top: 0;
    width: 100%;
}

.navbar .home {
    margin-right: auto;
}

.navbar li {
    list-style-type: none;
    padding: 12px;
    display: flex;
}

.navbar li a {
    text-decoration: none;
    align-self: center;
}

.navbar li:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}


/* End of Navbar - Start Sidebar */

.content {
    display: flex;
    height: 100%;
}

.sidebar-nav {
    display: flex;
    height: 100%;
    background-color: rgb(218, 218, 218);
    border-right: 2px solid rgb(109, 109, 109);
    box-shadow: 0px 0px 10px gray;
}

.sidebar {
    display: flex;
    width: 200px;
    flex-direction: column;
}

.sidebar li {
    list-style-type: none;
    padding: 6px 0px 6px 20px;
    width: 75%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.sidebar li:hover {
    background-color: rgb(214, 249, 252);
    box-shadow: 0px 0px 2px gray;
}

.sidebar li a {
    text-decoration: none;
}

.sidebar .new {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.new-button {
    padding: 10px 30px 10px 30px;
    margin: 10px;
    border-radius: 35px;
    border: 2px solid rgb(109, 109, 109);
    font-size: large;
    box-shadow: 0px 0px 10px gray;
}

.sidebar .new:hover {
    background-color: rgb(218, 218, 218);
    box-shadow: none;
}

.new-button:hover {
    background-color: white;
}

.new-button:active, .sidebar li:active {
    box-shadow: inset 0px 0px 3px gray;
}

/* End of sidebar - Start page content */

.body {
    display: flex;
    background-color: rgb(247, 247, 247);
    flex-direction: column;
    width: 100%;
}

.topbar {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid gray;
    align-self: flex-start;
    justify-content: center;
    width: 100%;
    position: sticky;
}

.form-container {
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    height: 100%;
    margin: 20px;
    border-radius: 8px;
    background-color: white;
}


.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 2px solid gray;
    width: 70%;
    margin: 20px;
    border-radius: 25px;
}

.section-info-container {
    align-self: flex-start;
    width: 100%;
    padding: 5px 0px 20px 20px;
}

.section-info-container h1 {
    width: 97%;
    border-bottom: 2px solid gray;
    margin-bottom: 5px;
}
