<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/topbar.css">
    <link rel="stylesheet" href="../static/sidebar.css">
    <link rel="stylesheet" href="../static/actiontopbar.css">
    <link rel="stylesheet" href="../static/actioncontent.css">
    <script src="../static/app.js" defer></script>
    <title>{{.Title}}</title>
</head>
<body>
    <div class="container">

        <div class="topbar">
            <span>{{.Header}}</span>
            <span>Profile</span>
        </div>

        <div class="sidebar">
            <a href="/add" class="new-button" type="button">
                New
            </a>
            <a href="/add" class="sent">Sent</a>
            <a href="#" class="drafts">Drafts</a>
            <a href="#" class="inbox">Inbox</a>
        </div>

        <div class="content">
            <form method="POST" action="/submit" autocomplete="off">
                    
                <!-- Term button -->
                <div class="button-container">
                    <div class="button-bar">
                        <span class="description">Select a term</span>
                        <input readonly type="text" class="far-right" id="term-button" name="term" value="Term">
                    </div>

                    <div class="dropdown-content" id="term-dropdown">
                        <div class="term" id="Spring">Spring</div>
                        <div class="term" id="Summer">Summer</div>
                        <div class="term" id="Fall">Fall</div>
                    </div>
                </div>

                <!-- Contact -->
                
                <div class="action-container" id="contact-container">
                    <div class="action-topbar">
                        <span>Contact</span>
                        <button type="button" class="toggle-button">Toggle</button>
                    </div>
                    <div class="action-content-container">
                        <div class="action-descriptor">Enter your contact info</div>
                        <div class="action-content">
                            <h2>Your Info</h2>
                            <div><label for="contact-name">Name</label><input type="text" id="contact-name" name="contact-name"></div>
                            <div><label for="contact-department">Department</label><input type="text" id="contact-department" name="contact-department"></div>
                            <div><label for="contact-email">Email</label><input type="text" id="contact-email" name="contact-email"></div>
                            <div class="last"><label for="contact-phone">Phone Extension</label><input type="text" id="contact-phone" name="contact-phone"></div>
                        </div>
                    </div>
                </div>

                <div id="actions"></div>
                
                <!-- Add
                <div class="action-container" id="action-container-1">
    
                    <div class="action-topbar" id="action-topbar-1">
                        <span>Add</span>
                        <button type="button" class="toggle-button" id="toggle-button-1" onclick="toggleActionContent(this.id)">Toggle</button>
                        <button type="button" class="delete-button" id="delete-button-1" onclick="deleteAction(this.id)">Delete</button>
                    </div>
    
                    <div class="action-content-container" id="action-content-container-1">
                        <div class="action-descriptor">Enter new class info</div>
                        <div class="action-content">
                            <h2>Section</h2>
                            <div><label for="subject">Subject</label><input type="text" id="subject-1"></div>
                            <div><label for="course">Course</label><input type="text" id="course-1"></div>
                            <div class="last"><label for="section">Section Number</label><input type="text" id="section-1"></div>
                        </div>
                        <div class="action-content">
                            Content
                        </div>
                    </div>
                </div> -->

                <!-- Submit button and New button -->
                <div class="button-container">

                    <div class="button-bar">
                        <input type="submit" class="far-right" id="submit"></input>
                        <button type="button" id="new-button">New</button>
                    </div>

                    <div class="dropdown-content" id="new-dropdown">
                        <div class="action" id="add">Add</div>
                        <div class="action" id="change">Change</div>
                        <div class="action" id="cancel">Cancel</div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</body>
</html>