<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Form3/styles.css">
    <link rel="stylesheet" href="../static/Form3/topbar.css">
    <link rel="stylesheet" href="../static/Form3/sidebar.css">
    <link rel="stylesheet" href="../static/Form3/content.css">
    <title>Form 3</title>
</head>
<body>
    <div class="container">

        <div class="topbar">
            <span>AB Form</span>
            <span>Profile</span>
        </div>

        <div class="sidebar">
            <div class="new-button"><button type="button">New</button></div>
            <div class="sent">Sent</div>
            <div class="drafts">Drafts</div>
            <div class="inbox">Inbox</div>
        </div>

        <div class="content">
            <form>
                <div class="action-container">
                    <div class="action-topbar" id="topbar">
                        <span>Add</span>
                        <button type="button" class="dropdown-button" id="toggle">Toggle</button>
                    </div>
                    <div class="action-content-container" id="content">
                        <div class="action-content">
                            <h2>Section</h2>
                            <div class="input"><label for="subject">Subject</label><input type="text" id="subject"></div>
                            <div class="input"><label for="course">Course</label><input type="text" id="course"></div>
                            <div class="input"><label for="section">Section Number</label><input type="text" id="section"></div>
                        </div>
                        <div class="action-content">
                            Content
                        </div>
                    </div>
                </div>

                <div class="action-container">
                    <div class="action-topbar">
                        <span>Add</span>
                        <button type="button" class="dropdown-button">Toggle</button>
                    </div>
                    <div class="action-content-container">
                        <div class="action-content">
                            <h1>Section</h1>
                        </div>
                        <div class="action-content">
                            Content
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>

    <script src="../static/Form3/app.js"></script>
</body>
</html>