<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Form3/styles.css">
    <link rel="stylesheet" href="../static/Form3/topbar.css">
    <link rel="stylesheet" href="../static/Form3/sidebar.css">
    <link rel="stylesheet" href="../static/Form3/content.css">
    <title>Form 3</title>
</head>
<body>
    <div class="container">

        <div class="topbar">
            <span>AB Form</span>
            <span>Profile</span>
        </div>

        <div class="sidebar">
            <div class="new-button"><button type="button">New</button></div>
            <div class="sent">Sent</div>
            <div class="drafts">Drafts</div>
            <div class="inbox">Inbox</div>
        </div>

        <div class="content">
            <form>
                <div class="action-container">
                    <div class="action-topbar">
                        <span>Add</span>
                        <span class="dropdown">-</span>
                    </div>
                    <div class="action-content-container">
                        <div class="action-content">
                            Content
                        </div>
                        <div class="action-content">
                            Content
                        </div>
                    </div>
                </div>

                <div class="action-container">
                    <div class="action-topbar">
                        <span>Add</span>
                        <span class="dropdown">-</span>
                    </div>
                    <div class="action-content-container">
                        <div class="action-content">
                            Content
                        </div>
                        <div class="action-content">
                            Content
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>

</body>
</html>