<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Form/styles.css">
    <link rel="stylesheet" href="../static/Form/topbar.css">
    <link rel="stylesheet" href="../static/Form/sidebar.css">
    <link rel="stylesheet" href="../static/Form/actiontopbar.css">
    <link rel="stylesheet" href="../static/Form/actioncontent.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../static/Form/app.js" defer></script>

    <title>Form</title>
</head>
<body>
    <div class="container">

        <div class="topbar">
            <span> <i class="fa fa-home home-span"></i> <div>AB Form</div></span>
            <span>Profile</span>
        </div>

        <div class="sidebar">
            <a href="/templates/form.html" class="new-button" type="button"><i class="fa fa-plus new-plus"></i> <div>New</div></a>
            <a href="/templates/sent.html" class="sent"><i class="fa fa-send"></i> Sent</a>
            <a href="#" class="drafts"><i class="fa fa-file"></i> Drafts</a>
            <a href="#" class="inbox"><i class="fa fa-inbox"></i> Inbox</a>
        </div>

        <div class="content">
            <!-- THE ACTION WAS /submit and the method WAS POST-->
            <form method="GET" action="#" autocomplete="off">
                    
                <!-- Term button -->
                <div class="button-container">
                    <div class="button-bar">
                        <span class="description">Select a term</span>
                        <input readonly type="text" class="far-right" id="term-button" name="term" value="Term">
                    </div>

                    <div class="dropdown-content" id="term-dropdown">
                        <div class="term" id="Spring">Spring</div>
                        <div class="term" id="Summer">Summer</div>
                        <div class="term" id="Fall">Fall</div>
                    </div>
                </div>

                <!-- Contact -->
                
                <div class="action-container" id="contact-container">
                    <div class="action-topbar">
                        <span>Contact Info</span>
                        <button type="button" class="toggle-button"><i class="fa fa-chevron-up"></i></button>
                    </div>
                    <div class="action-content-container">
                        <div class="action-descriptor">Enter your contact info</div>
                        <div class="action-content">
                            <h2>Your Info</h2>
                            <div><label for="contact-name">Name</label><input type="text" id="contact-name" name="contact-name"></div>
                            <div><label for="contact-department">Department</label><input type="text" id="contact-department" name="contact-department"></div>
                            <div><label for="contact-email">Email</label><input type="text" id="contact-email" name="contact-email"></div>
                            <div class="last"><label for="contact-phone">Phone Extension</label><input type="text" id="contact-phone" name="contact-phone"></div>
                        </div>
                    </div>
                </div>

                <div class="contact-divider"></div>

                <div id="actions"></div>

                <!-- Submit button and New button -->
                <div class="button-container">

                    <div class="button-bar">
                        <input type="submit" class="far-right" id="submit"></input>
                        <button type="button" id="new-button">New</button>
                    </div>

                    <div class="dropdown-content" id="new-dropdown">
                        <div class="action" id="add">Add</div>
                        <div class="action" id="change">Change</div>
                        <div class="action" id="cancel">Cancel</div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</body>
</html>