<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    
    <!-- Topbar -->
    <nav>
        <ul class="navbar">
            <li class="home"><a href="#">AB Form</a></li>
            <li class="profile"><a href="#">Profile</a></li>
        </ul>
    </nav>

    <div class="content">

        <!-- Sidebar -->
        <nav class="sidebar-nav">
            <ul class="sidebar">
                <li class="new"><button class="new-button">New</button></li>
                <li class="sent"><a href="#">Sent</a></li>
                <li class="drafts"><a href="#">Drafts</a></li>
                <li class="inbox"><a href="#">Inbox</a></li>
            </ul>
        </nav>

        <!-- Page Body -->
        <div class="body">

            <div class="topbar">
                <h2>Add</h2>
            </div>

            
            <form class="form" action="" method="">
                <div class="section-info-container">
                    <div class="dropdown" style="float:left;">
                        <button class="term-button">
                            Term
                            <div class="dropdown-content" style="left:0;">
                                <a href="#">Spring</a>
                                <a href="#">Summer</a>
                                <a href="#">Fall</a>
                            </div>
                        </button>
                    </div>
                    <h2>Section Info</h2>
                    <div class="input">
                        <label for="subject">Subject</label>
                        <input id="subject" type="text">
                    </div>
                    <div class="input">
                        <label for="course">Course</label>
                        <input id="course" type="text">
                    </div>
                    <div class="input">
                        <label for="section">Section</label>
                        <input id="section" type="text">
                    </div>
                </div>
            </form>


        </div>

    </div>

</body>
</html>