{{define "links"}}
<link rel="stylesheet" href="../static/Sent/filter.css">
<link rel="stylesheet" href="../static/Sent/table.css">
<link rel="stylesheet" href="../static/Inbox/inbox.css">
<script src="../static/Inbox/inbox.js" defer></script>
{{end}}

{{define "content"}}
<form autocomplete="off">
    <div class="filter-container">
        
        <div class="filter-button-container">
            <input autocomplete="false" class="filter-button" id="filter-input" placeholder="Add a filter"></input>
            <button type="button" class="filter-button" id="filter-clear">
                <i class="fa fa-close" id="clear-x"></i>
            </button>
        </div>

        <div class="filter-dropdown">
            <div class="filter-row filter-term">
                <label for="filter-season">Term</label>
                <datalist id="seasons">
                    <option value="Spring"></option>
                    <option value="Summer"></option>
                    <option value="Fall"></option>
                </datalist>
                <input type="search" class="filter-input-half" id="filter-season" name="filter-season" placeholder="Season" list="seasons">
                <input type="number" class="filter-input-half" id="filter-year" name="filter-term-year" placeholder="Year" min="2020">
            </div>
            <div class="filter-row">
                <datalist id="types">
                    <option value="Add"></option>
                    <option value="Change"></option>
                    <option value="Cancel"></option>
                </datalist>
                <label for="filter-type">Type</label><input type="search" id="filter-type" name="filter-type" list="types">
            </div>
            <div class="filter-row">
                <label for="filter-subject">Subject</label><input id="filter-subject" name="filter-subject">
            </div>
            <div class="filter-row">
                <label for="filter-course">Course Number</label><input id="filter-course" name="filter-course">
            </div>
            <div class="filter-row">
                <datalist id="approvers">
                    <option value="Chair"></option>
                    <option value="Dean"></option>
                    <option value="Academic Scheduling"></option>
                </datalist>
                <label for="filter-waiting">Waiting On</label><input type="search" id="filter-waiting" name="filter-waiting" list="approvers">
            </div>
            <div class="filter-row">
                <label for="filter-from">From</label><input id="filter-from" name="filter-from">
            </div>
            <div class="filter-row filter-date">
                <label for="filter-start-date">Date</label>
                <input class="filter-input-half" id="filter-start-date" name="filter-start-date" placeholder="Earliest Day">
                <input class="filter-input-half" id="filter-end-date" name="filter-end-date" placeholder="Latest Day">
            </div>
            <div class="filter-bottom">
                <input type="checkbox" id="filter-group" name="filter-group">
                <label for="filter-group">Submitted as Group</label>
                <input type="submit" value="Search" id="filter-search">
            </div> 
        </div>
    </div>
</form>

<div class="inbox-container"></div>
{{end}}