<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Form/styles.css">
    <link rel="stylesheet" href="../static/Form/topbar.css">
    <link rel="stylesheet" href="../static/Form/sidebar.css">
    <link rel="stylesheet" href="../static/Form/actiontopbar.css">
    <link rel="stylesheet" href="../static/Form/actioncontent.css">
    <link rel="stylesheet" href="../static/Sent/filter.css">
    <link rel="stylesheet" href="../static/Sent/table.css">
    <script src="../static/Sent/sent.js" defer></script>
    <title>Sent</title>
</head>
<body>
    <div class="container">

        <div class="topbar">
            <span>AB Form</span>
            <span>{{.Title}}</span>
        </div>

        <div class="sidebar">
            <a href="/add" class="new-button" type="button">
                New
            </a>
            <a href="/add" class="sent">Sent</a>
            <a href="#" class="drafts">Drafts</a>
            <a href="#" class="inbox">Inbox</a>
        </div>

        <div class="content">
            
            <form class="filter" autocomplete="off">
                <button type="button" id="filter-button">
                    Add Filter
                </button>
                <div class="filter-dropdown">
                    <div>
                        <label for="term">Term</label><input autocomplete="false" id="term">
                    </div>
                    <div>
                        <label for="from">From</label><input id="from">
                    </div>
                    <div>
                        <label for="subject">Subject</label><input id="subject">
                    </div>
                    <div>
                        <label for="course">Course Number</label><input id="course">
                    </div>
                    <div>
                        <label for="instructor">Instructor</label><input id="instructor">
                    </div>
                    <div>
                        <!-- Change type to submit later, button now for testing -->
                        <input type="submit" value="Search" id="search-button">
                    </div> 
                </div>
            </form>

            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Subject</th>
                        <th onclick="sortColumn('course')">Number</th>
                        <th>Section</th>
                        <th>Instructor</th>
                        <th>From</th>
                        <th>Term</th>
                        <th>Date</th>
                    </tr>
                    </thead>

                    <tbody id="table-data">
                        
                    </tbody>
                </table>
            </div>

            <div id="actions"></div>
        </div>
    </div>
</body>
</html>