.course-container {
    margin: 15px;
    height: 100%;
}

.course-topbar {
    display: flex;
}

.toggle-button {
    margin-left: auto;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: inherit;
    border: none;
}

.toggle-button:hover {
    background-color: rgb(250, 211, 211);
    cursor: pointer;
}

.toggle-button i {
    font-size: large;
}

.toggle-hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .25s, opacity .25s linear;
    position: absolute;
    width: 88%;
    
}

.toggle-show {
    opacity: 1;
    transition: opacity 1s linear;
}

.divider {
    border-bottom: 1px solid gray;
    margin: 5px 0px 5px 0px;
}

.summary-container {
    display: grid;
    grid-template-columns: 4fr 5fr 4fr;
    grid-template-rows: auto 1fr;
    margin: 5px 0px;
}

.summary-row {
    grid-column: 2 / 3;
    display: flex;
    padding: 5px 0px;
    min-width: 300px;
    border-bottom: 1px solid gray;
}

.summary-row .row-value {
    flex: 1;
    text-align: right;
}



