.table-container {
    padding: 0px 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid gray;
}

.table-head th .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

td, th {
    text-align: left;
    border-bottom: 1px solid gray;
    padding: 10px;
}


th {
    background-color: rgb(223, 54, 54);
    border-right: 1px solid gray;
}

th .head div, th .head i{
    color: white;
}

th:hover {
    background-color: rgb(221, 112, 112);
}

tr {
    background-color: rgb(255, 255, 255);;
}

tr:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

tr:hover {
    cursor: pointer;
    background-color: rgb(255, 198, 198);;
}